<div class="header flex items-center p-4 text-black pr-8 pl-8 bg-orange-50">
  <div class="logo-container flex items-center space-x-2">
    <img src="/logo.png" alt="Logo" class="h-8 w-8" />
    <h1 class="text-lg font-bold text-red-500">TechAngular</h1>
  </div>
  <nav class="flex-1 flex justify-center">
    <ul class="flex space-x-8">
      <!-- add tailwind red classes for active -->
      <li>
        <a routerLink="/home" routerLinkActive="text-red-500 font-bold">Home</a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="text-red-500 font-bold"
          >Products</a
        >
      </li>
      <li>
        <a
          routerLink="/cart"
          routerLinkActive="text-red-500 font-bold"
                   class="flex items-center space-x-1 relative"
        >
          <span>Cart</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
           <span 
            *ngIf="(cartItemCount$ | async) as count; else hideBadge"
            class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center font-semibold"
            [class.hidden]="count === 0">
            {{ count }}
          </span>
          <ng-template #hideBadge></ng-template>
        </a>
      </li>
    </ul>
  </nav>
  <div class="space-x-4">
    <a
      *ngIf="!isLoggedIn()"
      routerLink="/login"
      class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600"
      >Login</a
    >

    <div *ngIf="isLoggedIn()" class="flex items-center space-x-4">
      <span class="text-gray-700 font-medium">Welcome, {{ currentUser?.fullName }}</span>
      <button
        (click)="logout()"
        class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600"
        >Logout</button
      >
    </div>
  </div>
</div>
